:root{
    --bs-primary: #9825FB;
	--bs-primary-rgb: 152, 37, 251;
	--bs-secondary: #2A2A2A;
	--bs-secondary-rgb: 2, 42, 42;
}
/* defines all text properties */
h1{
	margin-top: 3rem;
    font-size: min(max(20px, 6vw), 70px);
    font-weight: bold;
	color: #2A2A2A;
}
h2{
    font-size: min(max(16px, 2vw), 22px);
    font-weight: bold;
	color: #2A2A2A;
}
p{
    font-size: min(max(14px, 2vw), 16px);
    line-height: normal;
	color: #2A2A2A;
}
.p-bold{
	margin-top: 3rem;
	font-weight: bold;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', 'Open Sans', sans-serif;
}


.navbar-img{
	max-width: 10%;
}

.wrapper{
	margin: 0 auto;
    width: 95%;
    background-color: transparent;
}
/* styles responsive images */
img{
    max-width: 100%;
}
.c-img{
	margin-top: 4rem;
	border-radius: 0.2rem;
	filter: drop-shadow(.4rem .4rem 0rem #00000016);
}
.desktop-arrow{
	display: none;
}
.portfolio-content{
	display: grid;
	grid-auto-rows: 1fr;
}
.g-content{
	margin-top: 1rem;
	background-color: #ffffff;
	border-style: solid;
	border-radius: .2rem;
	border-color: #9825FB;
	filter: drop-shadow(.4rem .4rem 0rem #00000016);
	text-align: center;
}
.g-content h2{
	margin-top: 1rem;
}
.g-content p{
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.button{
	display: block;
	max-width: 200px;
	margin: 0 auto 0.5rem;
	font-size: 0.875rem;
    text-decoration: none;
	font-weight: bold;
	/* margin-bottom: .5rem;
	margin-left: 4rem;
	margin-right: 4rem; */
	padding: 10px 20px 10px 20px;
	background-color: #9825FB;
	filter: drop-shadow(.4rem .4rem 0rem #00000016);
	border-radius: .2rem;
	color: #ffffff;
}
.button:hover{
	color: #2A2A2A;
}
/* Creates footer section */
.footer-img{
	display: flex;
	flex-direction: column;
    background-image: url(../images/footer-background.png);
    background-size: cover;
    background-position-y: center;
	justify-content: center;
	aspect-ratio: 16/7;
}
.footer-img h2{
	color: #ffffff;
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 2rem;
}
.bold-f-i{
	font-weight: bold;
}
.f-button{
	display: block;
	max-width: 200px;
	margin: 0 auto 0.5rem;
	font-size: 0.875rem;
    text-decoration: none;
	font-weight: bold;
	/* margin-bottom: .5rem;
	margin-left: 5rem;
	margin-right: 5rem; */
	padding: 10px 20px 10px 20px;
	background-color: #ffffff;
	filter: drop-shadow(.4rem .4rem 0rem #00000016);
	border-radius: .2rem;
	color: #9825FB;
}
footer{
    background-color: #ffffff;
    text-align: center;
	margin-top: 4rem;
}
.flex-footer{
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
}
.left-footer{
	margin-left: 2rem;
	margin-right: 3rem;
}
.right-footer{
	display: inline-flex;
	
}
.footer-icons{
    color: #2A2A2A;
    font-size: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
/* about page */
.about-img{
	border-radius: 0.2rem;
	filter: drop-shadow(.4rem .4rem 0rem #00000016);
}
.text-center p{
	margin: 0 auto;
    width: 70%;
	margin-bottom: 4rem;
	margin-top: 2rem;
}
.portrait-img{
	margin-top: 4rem;
}
.a-content{
	background-color: #ffffff;
	border-style: solid;
	border-radius: .2rem;
	border-color: #9825FB;
	filter: drop-shadow(.4rem .4rem 0rem #00000016);
	text-align: center;
}
.grid-1{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	grid-gap: 1rem;
}
.a-item1{
	grid-column: 1 / span 4;
	grid-row: 1 / span 4;
}
.a-item2{
	grid-column: 1 / span 4;
	grid-row: 3;
}
.a-item3{
	grid-column: 1 / span 2;
	grid-row: 4;
}
.a-item4{
	grid-column: 3 / span 2;
	grid-row: 4;
}
.a-content1{
	grid-column: 1 / span 4;
	grid-row: 1 / span 2;
	display: none;
}
.a-content2{
	grid-column: 1 / span 4;
	grid-row: 3;
	display: none;
}
.a-content3{
	grid-column: 1 / span 2;
	grid-row: 4;
	display: none;
}
.a-content4{
	grid-column: 3 / span 2;
	grid-row: 4;
	display: none;
}
.grid-2{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-columns: 1fr;
	grid-gap: 2rem;
}
.a-item5{
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}
.a-content5{
	grid-column: 1 / span 2;
	grid-row: 3 / span 2;
}

.a-item1:hover + .a-content1{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.a-item2:hover + .a-content2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	pointer-events:none;
}
.a-item3:hover + .a-content3{
	display: flex;
	flex-direction: column;
	justify-content: center;
	pointer-events:none;
}
.a-item4:hover + .a-content4{
	display: flex;
	flex-direction: column;
	justify-content: center;
	pointer-events:none;
}

@media screen and (min-width: 600px){
    *{
        margin:0;
        padding: 0;
    }
	/* h2{
		font-size: 2.5vw;
	}
	p{
		font-size: 2vw;
	}
	.button{
		font-size: 2vw;
	}
	.f-button{
		font-size: 2vw;
	} */
	.p-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	}
	.g-item1{
		order: 1;
	}
	.g-item2{
		order: 4;
	}
	.g-item3{
		order: 5;
	}
	.g-item4{
		order: 8;
	}
	.g-item5{
		order: 9;
	}
	.g-item6{
		order: 12;
	}
	.g-item7{
		order: 13;
	}
	.g-item8{
		order: 16;
	}
	.g-content1{
		order: 2;
	}
	.g-content2{
		order: 3;
	}
	.g-content3{
		order: 6;
	}
	.g-content4{
		order: 7;
	}
	.g-content5{
		order: 10;
	}
	.g-content6{
		order: 11;
	}
	.g-content7{
		order: 14;
	}
	.g-content8{
		order: 15;
	}
	.g-content{
		margin-top: 4rem;
	}
/* about page */
	.grid-1{
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-auto-rows: auto;
		grid-auto-columns: auto;
		grid-gap: 1rem;
	}
	.a-item1{
		grid-column: 1 / span 4;
		grid-row: 1 / span 4;
	}
	.a-item2{
		grid-column: 5 / span 4;
		grid-row: 1;
	}
	.a-item3{
		grid-column: 5 / span 2;
		grid-row: 2 / span 2;
	}
	.a-item4{
		grid-column: 7 / span 2;
		grid-row: 2 / span 2;
	}
	.portrait-img{
		margin-top: 0;
	}
	.grid-2{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-columns: auto;
		grid-gap: 1rem;
		margin-top: 4rem;
	}
	.a-item5{
		grid-column: 1 / span 2;
		grid-row: 1 / span 2;
	}
	.a-content5{
		grid-column: 3 / span 2;
		grid-row: 1 / span 2;
	}
	.a-content1{
		grid-column: 1 / span 4;
		grid-row: 1 / span 4;
		display: none;
	}
	.a-content2{
		grid-column: 5 / span 4;
		grid-row: 1;
		display: none;
	}
	.a-content3{
		grid-column: 5 / span 2;
		grid-row: 2 / span 2;
		display: none;
	}
	.a-content4{
		grid-column: 7 / span 2;
		grid-row: 2 / span 2;
		display: none;
	}
	.a-item1:hover + .a-content1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		pointer-events:none;
	}
	.a-item2:hover + .a-content2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		pointer-events:none;
	}
	.a-item3:hover + .a-content3{
		display: flex;
		flex-direction: column;
		justify-content: center;
		pointer-events:none;
	}
	.a-item4:hover + .a-content4{
		display: flex;
		flex-direction: column;
		justify-content: center;
		pointer-events:none;
	}
}
@media screen and (min-width: 900px){
    *{
        margin:0;
        padding: 0;
	}
	.main-content{
		max-width: 1000px;
		margin: 0 auto;
	}
}